*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.top{
    background-color: #545454;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0;
    .container{
        .row{
            .contact{
                ul{
                    li{
                        i{
                            color:rgb(240, 80, 80);
                            padding-right:5px ;
                        }
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            .icons{
                ul{
                    li{
                        a{
                            i{
                                color: #BABABA;
                                transform: scale(1);
                                transition: .3s ease-in;
                            }
                        }
                        &:hover{
                            i{
                                transform: scale(1.1);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
header{
    width: 100%;
    // position: fixed;
    // z-index: 2;
    // background-color: #fff;
    .container{
        .row{
            height: 100px;
            .nav-logo{
                h1{
                    position: relative;
                        &::before{
                            position: absolute;
                            content: '';
                            height: 20px;
                            width: 8px;
                            background-color: red;
                            top: 20px;
                            left: 0px;
                        }
                    a{
                        color: #535353;
                        font-size: 26px;
                        font-weight: bold;
                        margin-left: 11px;
                    }
                }
            }
            nav{
                ul{
                    li{
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px 0 10px 30px;
                            font-family: "Poppins", sans-serif;
                            font-size: 14px;
                            color: #545454;
                            white-space: nowrap;
                            transition: 0.3s;
                            text-transform: capitalize;
                            &:hover{
                                color: rgb(226, 65, 65);
                            }
                            &.active{
                                color: rgb(226, 65, 65);
                            }
                            i{
                                margin-left: 5px;
                            }
                        }
                        &.dropdown{
                            position: relative;
                            z-index: 9;
                            .downmenu{
                                position: absolute;
                                visibility: hidden;
                                left: -50px;
                                top: 100%;
                                opacity: 0;
                                background-color: #fff;
                                transition: .3s ease-in;
                                transform: translateY(20px);
                                width: 200px;
                                box-shadow: 0px 1px 8px 0px #545454;
                                li{
                                    a{
                                        display: inline-block;
                                        i{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            
                        }
                        &.dropdown:hover{
                            .downmenu{
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                        &.dropmenu{
                            position: relative;
                            .dripmenu{
                                position: absolute;
                                background-color: #fff;
                                box-shadow: 0px 1px 8px 0px #545454;
                                width: 150px;
                                visibility: hidden;
                                top: 0;
                                left: 160px;
                                opacity: 0;
                                transition: .3s ease-in;
                                transform: translateY(20px);
                            }
                        }
                        &.dropmenu:hover{
                            .dripmenu{
                                visibility: visible;
                                opacity: 1;
                                transition: .3s ease-in;
                                transform: translateY(0px);
                            }
                        }
                    }
                }
            }
            
        }
    }
    .nav-pane{
        background-color:  #fff !important;
        z-index: 999 !important;
        box-shadow: 6px 0px 17px 10px #3b3b3b;
        height: 100%;
        width: 100%;
        position: relative;
        display: none;
        .pane{
            padding: 30px 0px;
            display: flex;
            align-items: center;
        }
        .close{
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 20px;
            right: 30px;
            i{
                color: #000;
                font-size: 20px;
            }
        }
        .pane{
            ul{
                li{
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0 10px 30px;
                        font-family: "Poppins", sans-serif;
                        font-size: 14px;
                        color: #545454;
                        white-space: nowrap;
                        transition: 0.3s;
                        text-transform: capitalize;
                        &:hover{
                            color: rgb(226, 65, 65);
                        }
                        &.active{
                            color: rgb(226, 65, 65);
                        }
                    }
                }
            }
        }
    }
}
#slider{
    .prevBtn,.nextBtn{
        color: #534f4f;
        font-size: 50px;
        font-weight: 300;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 9;
    }
    .prevBtn{
        left: 15px;
    }
    .nextBtn{
        right: 15px;
    }
    .slider{
        .slick-dots li button:before {
            color: #E96B56;
            font-size: 15px;
            position: absolute;
        }
        .image{
            position: relative;
            img{
                width: 100%;
                height:500px;
            }
            .img-txt{
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h2{
                    font-size: 50px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    span{
                        color: #E96B56;
                    }
                }
                p{
                    color: #3b3b3b;
                    opacity: 0,7;
                    margin-bottom: 15px;
                    padding-bottom: 30px;
                }
                a{
                    padding: 10px 30px;
                    border-radius: 30px;
                    border: 2px solid #E96B56;
                    background-color: #E96B56;
                    color: #fff;
                    transition: .3s ease-in;
                    &:hover{
                        background-color: transparent;
                        color: #E96B56;
                    }
                }
            }
        }
    }
}
#featured{
    padding: 100px 0;
    .featured{
        .featured-box{
            padding:40px 30px ;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 1px 8px 0px #b8b8b8;
            transition: .3s ease-in;
            .icon{
                margin: 10px 0;
                i{
                    font-size: 40px;
                    color: #E96B56;
                }
            }
            .txt{
                h2{
                    font-size: 24px;
                }
                p{
                    color: #3b3b3b;
                    font-size: 15;
                }
            }
            &:hover{
                background-color: #E96B56;
                .icon{
                    i{
                        color: #fff;
                    }
                }
                .txt{
                    h2{
                        color: #fff;
                    }
                    p{
                        color: #fff;
                    }
                }
            }
        }
    }
}
#about{
    padding: 30px 0;
    .container{
        .about{
            .image{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .about-info{
                .title{
                    p{
                        font-style: italic;
                    }
                }
                ul{
                    li{
                        p{
                            color: #000;
                        }
                        i{
                            margin: 0px 10px 10px 0px;
                            color: #E96B56;
                        }
                    }
                }
            }
        }
    }
}
#cart{
    .container{
        .cart{
            .row{
                .col-lg-4{
                    .cart-item{
                        text-align: center;
                        margin: 20px 0;
                        padding:60px 50px;
                        border-radius: 10px;
                        box-shadow:0px 2px 8px 0px rgb(212, 208, 208);
                        cursor: pointer;
                        transition: .3s ease-in;
                    .icon{
                        margin: 10px;
                        i{
                            font-size: 20px;
                            padding: 20px;
                            border-radius: 5px;
                            color: #fff;
                            background-color: #E96B56;
                            box-shadow: -7px -8px 2px 1px #eaaea4 ;
                        }
                    }
                    .cart-txt{
                        h2{
                            font-size: 23px;
                            color: #3b3b3b;
                            margin-bottom: 10px;
                        }
                        p{
                            color: #000;
                        }
                    }
                    &:hover{
                        background-color: #E96B56;
                        .icon{
                            i{
                                background-color: #fff;
                                color: #E96B56;
                            }
                        }
                        .cart-txt{
                            h2,p{
                                color: #fff;
                            }
                        }
                    }
                }
                }
            }
        }
    }
}
#client{
    padding: 30px;
    .container{
        .client{
            h2{
                font-weight: bold;
                padding-bottom: 20px;
                color: #3b3b3b;
                position: relative;
                display: inline-block;
                &::after{
                    position: absolute;
                    content: '';
                    background-color: #E96B56;
                    width: 60px;
                    height: 5px;
                    top: 50px;
                    left: 20px;
                }
            }
            p{
                color: #3b3b3b;
            }
        }
    }
    .brands{
        .slick-dots li button:before {
            color: #E96B56;
            font-size: 10px;
            position: absolute;
        }
        padding: 50px 0;
        .slick-prev .slick-arrow{
            display: none;
        }
        display: flex;
        .brand-img{
            img{
                width: 50%;
            }
            
        }
    }
}
#footer{
   
    .footer-newsletter{
        margin-top:60px ;
        padding: 50px 0;
        background-color: #404040;
    }
    .container{
        .row{
            .footer-txt{
                h4{
                    color: #fff;
                    font-size: 24px;
                    display: inline-block;
                }
                p{
                    color: #e1e1e1;
                    font-size: 17px;
                }
            }
            form{
                background-color: #fff;
                padding: 5px 5px;
                border-radius: 30px;
                display: flex;
                .email{
                    width: 100%;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    &::placeholder{
                        padding-left:20px ;
                    }
                }
                .submit{
                    width: 30%;
                    border: none;
                    background-color: #E96B56;
                    color: #fff;
                    padding: 10px 30px;
                    border-radius: 30px;
                }
            }
        }
    }
    .footer-menu{
        padding: 50px 0;
        background-color: #3B3B3B;
        .row{
            h4{
                color: #fff;
            }
            .link{
                ul{
                    li{
                        color: #fff;
                        font-weight: bold;
                        span{
                            color: #fff;
                        }
                        a{
                            color: #fff;
                            font-weight: lighter;
                            transition: .3s ease-in;
                            &:hover{
                                color: #E96B56;
                            }
                        }
                        i{
                            color: #E96B56;
                            padding-right:10px ;
                            font-size: 12px;
                        }
                    }
                    &.icons{
                        i{
                            color: #fff;
                            font-size: 16px;
                            padding:15px 15px;
                            border-radius: 50%;
                            margin: 0 5px;
                            background-color: #545454;
                            transition: .3s ease-in;
                            &:hover{
                                background-color: #E96B56;
                            }
                        }
                    }
                }
                p{
                    color: #fff;
                }
            }
        }
    }
    .footer-bottom{
        background-color: #404040;
        padding: 40px 0;
        .copyright{
            color: #fff;
        }
        .design{
            span{
                color: #fff;
            }
            a{
                color: #E96B56;
            }
        }
    }
}
// responsive media query
@media only screen and (max-width:992px){
    #top-header{
        .top{
            width: 100% !important;
            .contact{
                li{
                    a{
                        font-size: 12px !important;
                    }
                }
            }
            .icons{
                li{
                    font-size: 15px;
                }
            }
        }
    }
    nav{
        .menu{
            display: none !important;
        }
    }
    .navbar{
        top: -50px;
        i{
            display: block !important;
        }
    }
    .nav-logo{
        h1{
            &::before{
                top: 16px !important;
            }
            
        }
    }
    #slider{
        .prevBtn,.nextBtn{
            i{
                font-size: 40px;
            }
        }
        .image{
            .img-txt{
                h2{
                    font-size: 35px !important;
                }
            }
        }
    }
    .footer-menu{
        .link{
            margin: 20px !important;
        }
    }
}
@media only screen and (max-width:772px){
    #top-header{
        .top{
            .contact{
                display: flex;
                justify-content: center;
               
                li{
                    a{
                        font-size: 12px !important;
                    }
                }
            }
            .icons{
                display: none !important;
            }
        }
    }
    .nav-logo{
        h1{
            &::before{
                top: 13px !important;
            }
            
        }
    }
    .title{
        p{
            font-size: 14px !important;
        }
    }
    #slider{
        .prevBtn,.nextBtn{
            i{
                font-size: 40px;
            }
        }
        .image{
            .img-txt{
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media only screen and (max-width:576px){
    .nav-logo{
        margin-left: 30px !important;
        h1{
            &::before{
                top: 10px !important;
            }
            
        }
    }
    .navbar{
        i{
            margin-right: 30px !important;
        }
    }
    #footer{
        .footer-newsletter{
            .footer-txt{
                h4{
                    font-size: 20px !important;
                }
                p{
                    font-size: 14px !important;
                }
            }
            form{
                width: 100% !important;
                .email{
                    width: 100%;
                }
                .sumit{
                    width: 100% !important;
                }
            }
        }
    }
}
